<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIate7J7-dOaLA4TLaFhMIvItpgywB49Q</string>
	<key>GCM_SENDER_ID</key>
	<string>568953017263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ada.YTeam</string>
	<key>PROJECT_ID</key>
	<string>yteam-59a5a</string>
	<key>STORAGE_BUCKET</key>
	<string>yteam-59a5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568953017263:ios:0c193a0a985867ffea955a</string>
</dict>
</plist>