<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYk8U2AmZm1wO0nv6Z5Ch3DZWTbKnL_vM</string>
	<key>GCM_SENDER_ID</key>
	<string>650200450438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YTeam.LifeWatch</string>
	<key>PROJECT_ID</key>
	<string>yteam-2e5ed</string>
	<key>STORAGE_BUCKET</key>
	<string>yteam-2e5ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650200450438:ios:aa94e5bfd549018a80d807</string>
</dict>
</plist>